

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
 
  
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Teko:wght@300..700&display=swap');




body{
    
    padding: 0px;
    margin: 0px;
     overflow-x: hidden;
     box-sizing: border-box;
     font-family: sans-serif;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;

    
}
.logo{
    font-size: 30px;
    font-family: roboto condensed;
    font-weight: 800;
    letter-spacing: 2px;
    color: white;
}
.nav{
    display: flex;
  
}
ul{
    display: flex;
}
    li:hover{color: #ff4d37;
    }
    
     li {
   
    font-size: 15px;
    font-family: roboto condensed;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1.4px;
    transition: 0.3s ease;
    margin-right: 80px;

    
}
.btn1{
    padding: 16px 20px 16px 20px;
    background-color: #ff4d37;
    border: none; 
    margin: 0px;
    
}
a{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: roboto condensed;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-decoration: none;
    

}

.hero{
width: 100%;
height: auto;
background-image: url(image/bg_1.jpg);
background-attachment: fixed;
background-position: relative;
background-size: cover;
background-repeat: no-repeat;
margin: 0px;

}
.hero-overlay{
width: 100%;
height: auto;
background-color: #000000a6;
padding-bottom: 60px;
}

.hero-content{
   
    text-align: left;
    padding-top: 60px;
    padding-left: 60px ;
    padding-bottom: 60px;
    
   
}
h1 {
    font-family: Teko;
    font-size: 70px;
    font-weight: 800;
    color: white;
    letter-spacing: 1.6px;
    line-height: 1.2em;
}
p{
    font-size: 14px;
    font-weight: 500;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    letter-spacing: 0.9px;
    line-height: 1.9em;
    padding-top: 0px;
    padding-bottom: 20px;
}

.h3a{
    font-family: roboto condensed;
    font-weight: 300;
    color: #ff4d37;
    letter-spacing: 0.9px;
    padding: 0px;
}
.about-section{
    width: 100%;
    display: flex;
    margin-top: 100px;
   padding: 80px 80px 80px 80px;
   column-gap: 80px;
}
h2 {
    font-family: teko;
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    color: #2c234d;
    line-height: 1.4em;
    letter-spacing: normal;
}

.h3b{
    font-family: roboto condensed;
    font-weight: 400;
    color: #ff4d37;
    letter-spacing: 0.9px;
}
.about-content{
    padding-top: 120px;
}
.service-section{
width: 100%;
height: auto;
background-image: url(image/service-section.png);
background-attachment: fixed;
background-position: relative;
background-size: cover;
background-repeat: no-repeat;
justify-content: center;
align-items: center;
margin-top: 120px;
margin-bottom: 120px;
padding-bottom: 160px;

}
.service-content{
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 160px;
padding-left: 90px;
padding-bottom: 60px;

}

h3b{
    font-family: roboto condensed;
    font-weight: 300;
    color: #ff4d37;
    letter-spacing: 0.9px;
    line-height: 0px;
    padding: 0px;
    margin: 0px;
}
.h3b-service{
    font-family: roboto condensed;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0.9px;
    line-height: 0px;
    padding: 20px;
    margin: 0px;
}
.h2-service{
    font-family: teko;
    font-size: 55px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 1.4em;
    letter-spacing: normal;
}
.ser-btn-div{
    padding-top: 80px;
    padding-right: 90px;
}
.btn2{

    padding: 16px 20px 16px 20px;
    background-color: #ff4d37;
    border: none; 
    margin: 0px;

}
.services{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:center;
    column-gap: 30px;

}
.card1{
    width: 370px;
    height: 320px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    position: relative;
    border: none;
    padding-top: 80px;
    padding-bottom: 0px;
    
       
}

.card-cont{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 30px; 
    }

.card-btn{
    width: 100%;
    height:60px;
    position: absolute;
    border: none;
    background-color:#ff4d37;
    font-family: montes;
    color: white;
    text-transform: uppercase;
    left: 0px;
    bottom: -90px;
    opacity: 0;
    transition: 0.3s;
}


.card1:hover .card-btn {
    bottom: 0px;
    opacity: 1;
}
.card1 i{
font-size: 50px;
color: rgb(0, 0, 0);
padding-bottom: 0px;
margin: 0px;
line-height: 0px;
padding-top: 30px;
}
 .card1:hover i{
    color:#ff4d37;
 }

 .testimonial-section{
    width: 100%;
    display: flex;
    margin: auto;
   padding: 80px 80px 80px 80px ;
   column-gap: 120px;
}
.testimonial-content{
    padding-top: 50px;
}

.h2-testimonial{
    font-family: teko;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    color: #2c234d;
    line-height: 1.4em;
    letter-spacing: normal;
}
h4{
   font-family: roboto condensed;
    font-weight: 500;
    color: #2c234d;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    line-height: 0px;
    padding: 0px;
    margin: 0px; 
}

.gallery {
    display: flex;
    gap: 20px;
    height: 900px;
    margin-top: 120px;
}

.big {
    flex: 1;
    
}

.right {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: 900px; 
}

/* Gallery Item */
.gallery-item {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.gallery-item:hover .content {
    transform: translateY(0);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: 0.5s ease;
}

/* Zoom image on hover */
.gallery-item:hover img {
    transform: scale(1.1);
}

/* Overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: 0.5s ease;
}

/* Slide down on hover */
.gallery-item:hover .overlay {
    transform: translateY(0);
}

/* Content */
.content {
    font-family: roboto condensed;
    font-size: 25px;
    text-align: center;
    color: white;
    transform: translateY(20px);
    transition: 0.3s;
}
.overlay .content h3,
.overlay .content p {
    color: white;
}
/* Arrow Circle */
.content i {
    background: red;
    color: white;
    padding: 18px;
    border-radius: 50%;
    font-size: 18px;
    transition: 0.3s;
}

/* Arrow hover */
.content i:hover {
    background: white;
    color: red;
}

.service-section2{
width: 100%;
height: auto;
background-position: relative;
justify-content: center;
align-items: center;
margin-top: 100px;

}
.service-content2{
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 100px;
padding-right: 10px;
padding-top: 60px;
padding-bottom: 30px;
}

.h2-service2{
    font-family: teko;
    font-size: 55px;
    font-weight: 900;
    text-transform: uppercase;
    color: #2c234d;
    line-height: 1.4em;
    letter-spacing: normal;
    padding: 0px;
}
.team-cont{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 40px;
    padding: 0px 80px;
  
}
.team{
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    padding:0px ;
    margin: 0px;
}

.team-content{
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: white;
    font-family: roboto condensed;
    font-size: 22px;
    line-height: 0.5em;
}
.team-content span{
    font-family: sans-serif;
    color: #cccccc;
    font-size: 14px;
    letter-spacing: 0.6px;
    
}
.social a{
    font-family: sans-serif;
    color: #ff4d37;
    font-size: 16px;
}
.workout-section{
width: 100%;
height: auto;
background-position: relative;
justify-content: center;
align-items: center;
margin-top: 100px;
margin-bottom: 100px;
}
.workout-content{
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 100px;
padding-right: 10px;
padding-top: 60px;
padding-bottom: 30px;
}

.workout-cont{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 40px;
    padding: 0px 80px;
}
.weight{
    width: 33.33%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    flex: 1;
    
    height: 500px;
    position: relative;
    padding:0px ;
    margin: 0px;
     transition: 0.4s;
    
}
.weight-content{
    position: absolute;
    width: 80%;
    background-color: #000000;
    color: #ffffff;
    font-family: roboto condensed;
    font-size: 20px;
    line-height: 0.5em;
    letter-spacing: 0.8px;
    bottom: 0px;
    left: 0px;
    padding: 0px;
    text-align: center;
    transition: 0.4s;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%) ;
   
}
.weight:hover .weight-content {
    background-color: #ff4d37;
    
}
.price{
    position: absolute;
    top: 100px;
    right: -100px;
    background: #ff4d37;
    color: #fff;
    padding: 10px 30px;
    font-weight: bold;
    font-family: sans-serif;
    transition: 0.3s ease-out;
    opacity: 0;

    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%) ;
    
}

/* Hover Effects */
.weight:hover .price{
    right: 0px;
    opacity: 1;
}

.offer-section{
width: 100%;
margin-top:160px;
margin-bottom: 120px;

}
.offer-content{
background-image: url(image/section_bg02.png);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 100px;
padding-right: 10px;
padding-top: 60px;
padding-bottom: 120px;


}
.offer-content h2{
    color: #ffffff;
    font-size: 55px;
}
.offer-btn-div{
padding-top: 0px;
padding-right: 90px;
}
.table-section{
width: 100%;
height: auto;
background-position: relative;
justify-content: center;
align-items: center;
margin-top: 100px;
}

.table-content {
display: flex;
justify-content: space-between;
align-items: center;
padding-left: 100px;
padding-right: 10px;
padding-top: 60px;
padding-bottom: 30px;
}

.table-cont{
width: 90%;
margin:0px auto;
padding:60px 0px 60 0px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

table{
width:100%;
border-collapse:collapse;
table-layout:fixed;
}

thead{
   padding:30px 20px; 
}

 thead th{
background:#ff4d37;
color:white;
font-weight:bold;
font-family: roboto condensed;
}

th, td{
text-align:center;
padding:30px 20px;
font-size:15px;
font-family: roboto condensed;
letter-spacing: 0.6px;
color:#444;
    }

.time{
background:#000000;
color:white;
font-weight:bold;
width:140px;
    }

tbody td:nth-child(3),
tbody td:nth-child(5),
tbody td:nth-child(7){
background:#f0f0f3;
    }

     tbody td{
        background:#fafafa;
        border-bottom:1px solid #cacaca59;
    }

    tbody tr{
        height:80px;
    }

.form-section{
width: 100%;
height: auto;
background-image: url(image/bg_4.jpg);
background-attachment: scroll;
background-position: relative;
background-size: cover;
background-repeat: no-repeat;
justify-content: left;
align-items: center;
margin-top: 120px;
margin-bottom: 120px;
padding-bottom: 100px;
padding-top: 100px;
}

.form-content{
    text-align: center;
}


.form-content h2{
    font-family: teko;
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: #ff3c3c;
    line-height: 0px;
    letter-spacing: 0.6px;
    padding: 0px;
}
.contact-form{
    background: rgba(0, 0, 0, 0.75);
    padding: 35px;
    width: 520px;
    border-radius: 6px;
    backdrop-filter: blur(6px);
    padding: 50px;
    margin-left: 90px;
    padding-top: 40px;
    padding-bottom: 40px;
   
}
.row {
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}
.contact-form label{
   width: 100%; 
}


.contact-form input {
    width: 100%;
    padding: 15px;
    background: #111;
    border: 1px solid #333;
    color: #fff;
    font-size: 14px;
    outline: none;
}


.contact-form button {
    width: 100%;
    padding: 15px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    background: #ff3c3c;
    transition: 0.3s;
}

.contact-form button:hover {
    transform: translateY(-2px);
}

.pricing-section { 
padding: 0px 0;
text-align: center;
margin-top: -100px;


 }

.pricing-section h2 {
margin-bottom: 50px;
letter-spacing: 2px;
color: #2c234d;
 }

 .pricing-container {
display: flex;
justify-content: center;
gap: 40px;
max-width: 1200px;
margin: auto;
flex-wrap: wrap;
}

.pricing-card {
width: 360px;
background: white;
box-shadow: 0 10px 30px rgba(0,0,0,0.1);
padding-bottom: 40px;
}

.card-header {
background: #ff4d37;
color: white;
padding: 25px 0;
font-weight: bold;
font-size: 24px;
font-family: roboto condensed;
letter-spacing: 0.6px;
position: relative;
margin-bottom: 30px;
}
/* for triangle after header */
.card-header::after {
content: "";
position: absolute;
bottom: -10px;
left: 50%;
transform:translateX(-50%) ;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
border-top: 10px solid #ff4d37;
}

.pricing {
font-size: 45px;
font-weight: bold;
color: #ff4d37;
margin-bottom: 25px;
}

.pricing span {
font-size: 18px;
color: gray;
font-weight: 300;
}

.details {
color: #555;
line-height: 33px;
font-size: 18px;
font-weight: 300;
font-family: sans-serif;
}

.details strong {
color: black;
font-weight: 600;
font-family: sans-serif;

}

.btn {
font-size: 18px;
font-weight: 600;
font-family: sans-serif;
letter-spacing: 0.6px;
margin-top: 25px;
padding: 14px 40px;
border: 2px solid #ff4d37;
background: white;
color: black;
cursor: pointer;
transition: 0.3s;
}

.btn:hover {
background: #ff4d37;
color: white;
}


.footer-section{
width: 100%;
height:auto;
display: block;
background-image: url(image/bg_2.jpg);
background-size: cover;
background-attachment: scroll;
background-repeat: no-repeat;
margin-top: 120px;
margin-bottom: 0px;


}

.footer-overlay{
width: 100%;
height: auto;
background-color: #000000e8;

}

.footer-cont{
    justify-content: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    padding-top: 120px;
    padding-bottom: 60px;
    margin: 0px;

}
.footer-cont h3{
    text-align: center;
    color: #f0f0f3;
    font-size: 18px;
    font-family: roboto condensed;
    font-weight:bold;
    letter-spacing: 0.9px;
    padding-right: 100px;

}

.footer-list ul{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-top: 25px;
    margin-left: 35px;
    
}
.footer-list li{
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 300;
    color: rgb(161, 159, 159);
    letter-spacing: 1.0px;
    text-transform: capitalize;
    padding-bottom: 20px;
    
}
.social2 a{
font-family: roboto condensed;
color: rgb(161, 159, 159);
font-size: 19px;
margin-right: 5px;
transition: 0.3s ease;
}
.social2 a:hover {
    color: #ff3c3c;
}
.footer-list p{
font-size: 14px;
font-family: roboto condensed;
font-weight: 300;
color: rgb(161, 159, 159);
letter-spacing: 1.0px;
text-transform: capitalize;
padding: 10px 30px 10px 0px;
}

.footer-list img{

    margin-top: 30px;
}
.footer-bottom{
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid rgba(161, 159, 159, 0.185);
    padding: 10px 40px 10px 40px;
    margin: auto;
}
.footer-bottom p{
font-size: 14px;
font-family: sans-serif;
font-weight: 300;
text-align: center;
color: rgb(161, 159, 159);
letter-spacing: 1.2px;
text-transform: capitalize;
 margin: 0;

}
